@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');


html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: white;
}

@media screen and (min-width: 1300px) {

    .main-container {
        display: flex;
        width: 100%;
        height: 1000px;
    }

    .left-container {
        width: 100%;
        display: flex;
        align-items: end;
        height: 100%;
    }

    .left-container .text {
        width: 50%;
        height: 80%;
        margin: 25px;
        line-height: 80px;

    }
    .marg{
        margin-left: 80px;
    }
    .title{
        margin: 20px;
        font-size:42px;
    }
    .site{
        font:900 42px lato;
    }
    .lktaba{
        display:none ;
    }
    .right-container {
        width: 600px;
        background-color: #b8c9dd;
    }

    .right-container #car1 {
        position: absolute;
        left: 40vw;
        width: 60%;
    }
    #car2{
        display:none;
    }

}
@media screen and (max-width: 1300px){
    .main-container {
        display: flex;
        width: 100%;
        height: 1000px;
    }

    .left-container {
        padding-top: 60px;
        width: 100%;
        display: flex;
        align-items: start;
    }

    .left-container .text {
        width: 60%;
        height: 80%;
        margin: 25px;
        line-height: 80px;

    }
    .marg{
        margin-left: 30px;
    }
    .title{
        margin: 20px;
        font-size:25px;
    }
    .lktba{
        font-size:16px;
    }
    .lktaba{
        display:none ;
    }
    .site{
        font:900 28px lato;
    }
    .right-container {
        width: 600px;
        background-color: #b8c9dd;
    }

    .right-container #car1 {
        position: absolute;
        left: 40vw;
        width: 60%;
    }
    #car2{
        display:none;
    }

}

/*@media screen and(max-width: 1023px) {
    .main-container {
        display: flex;
        width: 100%;
        height: 1000px;
    }

    .left-container {
        padding-top: 60px;
        width: 100%;
        display: flex;
        align-items: start;
    }

    .left-container .text {
        width: 60%;
        height: 80%;
        margin: 25px;
        line-height: 80px;

    }
    .marg{
        margin-left: 30px;
    }
    .title{
        margin: 20px;
        font-size:25px;
    }
    .lktba{
        font-size:16px;
    }
    .site{
        font:900 28px lato;
    }
    .right-container {
        width: 600px;
        background-color: #b8c9dd;
    }

    .right-container #car1 {
        display: none;
    }
    .right-container #car2 {
        display: block;
    }

}*/
@media screen and (max-width: 1024px) {
    .main-container {
        display: flex;
        width: 100%;
        height: 1000px;
        background-color: #ffffff;
        background-image: -webkit-linear-gradient( -45deg, #b8c9dd 50%, #ffffff 50%);
    }

    .left-container {
        padding-top: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .left-container .text {
        width: 100%;
        height: 80%;    
        margin: 25px;
        line-height: 80px;

    }
    .marg{
        margin-left: 30px;
    }
    .title{
        width: 100%;
        margin: 20px;
        font-size:20px;
    }
    .lktba{
        font-size:16px;
    }
    .lktaba{
        display:none ;
    }
    .site{
        font:900 28px lato;
    }
    .right-container {
        width: 400px;
        background-color: transparent;
        padding-top: 100px;
    }

    .right-container #car1 {
        display: none;
    }
    .right-container #car2 {
        display: block;
    }

}
@media screen and (max-width: 720px) {
    .main-container {
        height: 1000px;
        width: 100%;    
        display: flex;
        flex-direction: column;
        justify-self: start;
        align-items: center;
        background-image: -webkit-linear-gradient( -90deg, #b8c9dd 40%, #ffffff 20%,#ffffff 20%,#ffffff 20%);
    }
    .left-container{
        width: 100%;
        height: 100px;
    }
    .left-container .text {
        width: 70%;
        height: 80%; 
        line-height: 10px;

    }
    .lktba{
        display:none ;
    }
    .lktaba{
        display:inline ;
    }
    .right-container{
        width: 50px;
        height: 80%;
    }
    .right-container #car1 {
        display: none;
    }
    .right-container #car2 {
        display: inline;
        margin-bottom: 100px;
        height: 350px;
    }

}