@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

@media screen and (min-width: 1300px){
    /* Your CSS rules for larger desktop screens and laptops */
    .icon{
        display:none;
    }
    .navbare-container {
        display: flex;
        background-color: transparent;
        width: 100%;
        height: 80px;
        align-items: center;
    }

    .nav-items {
        width: 100%;
        display: flex;
    }

    .nav-logo {
        width: 20%;

    }

    .nav-logo img {
        width: 100px;
        height: 40px;
        margin-left: 10%;
        display: flex;
        align-items: center;
    }


    .nav-menu {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-menu a {
        text-decoration: none;
        color: red;
        margin-left: 60px;
        font-size: medium;
        font-weight: 400;
    }



    .nav-menu li {
        margin-left: 10px;
        list-style: none;
        text-decoration: none;
        color: black;
    }

    /* .nav-menu li:hover {} */

    .nav-account {
        height: 100%;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center ;
    }

    .home-colors{
        height: 100%;
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center ;
        background-color: #b8c9dd;
    }
    #login-button {
        border: none;
        outline: none;
        width: 95px;
        height: 40px;
        background-color: transparent;
        color: black;
        font-size: medium;
        font-family: 'Lato', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }
    
    #login-button:hover {
        height: 40px;
        background-color: transparent;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        outline: none;
        border-radius: 50px;
    }
    
    #register-button {
        margin-left: 5px;
        width: 95px;
        height: 40px;
        background-color: transparent;
        border: none;
        border: 2px solid black;
        border-radius: 20px;
        font-size: medium;
        font-family: 'Lato', sans-serif;
        font-family: 'Open Sans', sans-serif;
        transition: 0.5s;
    }

    #register-button:hover {
        background-color: rgb(27, 27, 45);
        outline: none;
        color: white;
    }

}
@media screen and (max-width: 1300px){
    .icon{
        display:none;
    }
    .navbare-container {
        display: flex;
        background-color: transparent;
        width: 100%;
        height: 80px;
        align-items: center;
    }

    .nav-items {
        width: 100%;
        display: flex;
    }

    .nav-logo {
        width: 20%;
    }

    .nav-logo img {
        width: 100px;
        height: 40px;
        margin-left: 10%;
        display: flex;
        align-items: center;
    }

    .nav-menu {
        margin-left:50px ;
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-menu a {
        text-decoration: none;
        color: red;
        margin-left: 60px;
        font-size: medium;
        font-weight: 400;
    }



    .nav-menu li {
        margin-left: 10px;
        list-style: none;
        text-decoration: none;
        color: black;
    }

    /* .nav-menu li:hover {} */

    .nav-account {
        height: 100%;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center ;
    }

    .home-colors{
        height: 100%;
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center ;
        background-color: #b8c9dd;
    }
    #login-button {
        border: none;
        outline: none;
        width: 95px;
        height: 40px;
        background-color: transparent;
        color: black;
        font-size: medium;
        font-family: 'Lato', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }
    
    #login-button:hover {
        height: 40px;
        background-color: transparent;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        outline: none;
        border-radius: 50px;
    }
    
    #register-button {
        margin-left: 5px;
        width: 95px;
        height: 40px;
        background-color: transparent;
        border: none;
        border: 2px solid black;
        border-radius: 20px;
        font-size: medium;
        font-family: 'Lato', sans-serif;
        font-family: 'Open Sans', sans-serif;
        transition: 0.5s;
    }

    #register-button:hover {
        background-color: rgb(27, 27, 45);
        outline: none;
        color: white;
    }

}
@media screen and (max-width: 1024px) {
    .navbare-container {
        display: flex;
        background-color: transparent;
        width: 100%;
        height: 80px;
        align-items: center;
    }
    
    .nav-items {
        width: 100%;
        display: flex;
    }
    
    .nav-logo {
        width: 50%;
    }
    
    .nav-logo img {
        width: 100px;
        height: 40px;
        margin-left: 10%;
        display: flex;
        align-items: center;
    }
    
    .nav-menu {
        display: none;
    }
    /* .nav-menu li:hover {} */
    #mini{
        display: none;
    }
    .icon{
        display: inline;
    }
    .nav-account {
        display: none;
    }
    .tglback .back{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        margin: 10px;
        background-color: transparent;
        border: none;
        outline: none;
        font: 400 18px lato;
        text-decoration: none;
        color: black;
    }
    .icon{
        margin-right: 100px;
        font: 900 30px arial;
        color: #7394bb;
    }
    .toggled-bar{
        display: flex;
        justify-content: center;
        align-items: start;
        padding-top: 10px;
        position: absolute;
        height: 100%;
        width: 35%;
        top: 0;
        right: 0;
        background-color: #7393bbcf;
        z-index: 9999999;
    }
    .bar{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
    .profile{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 100px;
        font: 400 18px lato;
        border-radius: 20px;
        text-decoration: none;
        color: black;
    }
    .userIMG{
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        border: 2px solid black;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    .bar .bar-items{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin: 1px;
        font: 500 21px lato;
        border: 2px solid black;
        border-radius: 20px;
        text-decoration: none;
        color: black;
    }
    .bar .bar-items:hover{
        border: none;
        outline: none;
        background-color: black;
        color: white;
        border-radius: 20px;
    }
    .home-colors{
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .home-colors{
        background-color: white;
    }
    #login-button {
        display:none
    }    
    #register-button {
        display:none
    }
  }
@media screen and (max-width: 720px) {
    .navbare-container {
        display: flex;
        background-color: transparent;
        width: 100%;
        height: 80px;
        align-items: center;
    }
    
    .nav-items {
        width: 100%;
        display: flex;
    }
    
    .nav-logo {
        width: 50%;
    }
    
    .nav-logo img {
        width: 100px;
        height: 40px;
        margin-left: 10%;
        display: flex;
        align-items: center;
    }
    
    .nav-menu {
        display: none;
    }
    /* .nav-menu li:hover {} */
    #mini{
        display: none;
    }
    .nav-account {
        display: none;
    }
    .tglback .back{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        margin: 10px;
        background-color: transparent;
        border: none;
        outline: none;
        font: 400 18px lato;
        text-decoration: none;
        color: black;
    }
    .toggled-bar{
        display: flex;
        justify-content: center;
        align-items: start;
        padding-top: 10px;
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        right: 0;
        background-color: #7393bbcf;
        z-index: 9999999;
    }
    .bar{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
    .profile{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 100px;
        font: 400 18px lato;
        border-radius: 20px;
        text-decoration: none;
        color: black;
    }
    .userIMG{
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        border: 2px solid black;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    .bar .bar-items{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin: 1px;
        font: 500 21px lato;
        border: 2px solid black;
        border-radius: 20px;
        text-decoration: none;
        color: black;
    }
    .bar .bar-items:hover{
        border: none;
        outline: none;
        background-color: black;
        color: white;
        border-radius: 20px;
    }
    .nav-account{
        text-align: end;
    }
    .home-colors{
        /* background-color: red; */
        display: flex;
        justify-content: end;
        width: 20%;
    }
    .home-colors .bars .icon{
        color: #7394bb;
        margin: 50px;

    }
    #login-button {
        display:none
    }    
    #register-button {
        display:none
    }
  }